<% provide(:title, @user.name) %>
<%= stylesheet_link_tag "show", params[:action], media: "all" %>
<div class = "row hero-unit">
	<aside class = "span4">
		<section>
			<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>