@import "bootstrap";

html{
	overflow: scroll;
	}
body{
	padding-top: 60px;
}
section{
	overfolw: auto;
}
textarea{
	resize: vertical;
}

h1{
	text-align: center;
	margin-bottom: 10px;
	color: $green;
	}

/*header*/
#logo{
	float: left;
	margin-right: 10px;
	font-size: 2.1em;
	color: $blue;
	text-transform: none;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover{
	color: $red;
	text-decoration: none;
	}
	}
	.hero-unit{
	background: #e0e0e0;
}

	footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $red;
	a{
	color: #555;
& a:hover{
	color: #222;
	}
	}
	small{
	float: left;
	}
	ul{
	float: right;
	list-style: none;
	li{
	float: left;
	margin-left: 10px;
	}
	}
}
.gravatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}